body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-bottom: 13px;
}
.sub-publish{
    float: right;
    margin-bottom: 13px;
    margin-top: 13px;
}

.media-object{
    width: 40px;
}
.media-body{
    padding-top: 10px;
}
.comment{
    margin:10px 0;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.comment-sp{
    margin-top: 0;
}
.comment-cs{
    margin-bottom: 15px;
    border-bottom:1px solid #eee;
    padding-bottom: 10px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.menu{
    margin-top: 5px;
    color: #999;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
.question-title{
    margin-top: 25px;
}
